{
  "openapi": "3.1.0",
  "info": {
    "title": "mem0 Hosted API",
    "description": "mem0 hosted platform API at api.mem0.ai",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.mem0.ai",
      "description": "mem0 hosted platform"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/v3/memories/add/": {
      "post": {
        "operationId": "addMemory",
        "summary": "Add memories",
        "description": "Extracts facts from conversation messages using single-pass additive extraction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/memories/": {
      "post": {
        "operationId": "getMemories",
        "summary": "Get memories",
        "description": "Paginated retrieval of memories with optional filtering",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMemoriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMemoriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/memories/search/": {
      "post": {
        "operationId": "searchMemories",
        "summary": "Search memories",
        "description": "Performs hybrid search combining semantic, BM25, and entity matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchMemoriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchMemoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memories/{memory_id}/": {
      "get": {
        "operationId": "getMemory",
        "summary": "Get a specific memory",
        "description": "Fetch a specific memory record by ID",
        "parameters": [
          {
            "name": "memory_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryItem"
                }
              }
            }
          },
          "404": {
            "description": "Memory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMemory",
        "summary": "Update a memory",
        "description": "Modify an existing memory record",
        "parameters": [
          {
            "name": "memory_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryItem"
                }
              }
            }
          },
          "404": {
            "description": "Memory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMemory",
        "summary": "Delete a memory",
        "description": "Remove a single memory record",
        "parameters": [
          {
            "name": "memory_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Memory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memories/{memory_id}/history/": {
      "get": {
        "operationId": "getMemoryHistory",
        "summary": "Get memory history",
        "description": "Access memory change history",
        "parameters": [
          {
            "name": "memory_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Memory not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memories/": {
      "delete": {
        "operationId": "deleteAllMemories",
        "summary": "Delete all memories",
        "description": "Delete all memories for an identifier",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memories deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/event/{event_id}/": {
      "get": {
        "operationId": "getEventStatus",
        "summary": "Get event status",
        "description": "Retrieve final status of asynchronous operations",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventStatus"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/entities/{entity_type}/{entity_id}/": {
      "get": {
        "operationId": "getEntity",
        "summary": "Get entity",
        "description": "Get entity details",
        "parameters": [
          {
            "name": "entity_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["user", "agent", "app", "run"]
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEntity",
        "summary": "Delete entity",
        "description": "Cascade-delete all memories for entity",
        "parameters": [
          {
            "name": "entity_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["user", "agent", "app", "run"]
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based authentication. Use format: Token <your-api-key>"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system"]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "AddMemoryRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "user_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "infer": {
            "type": "boolean",
            "default": true,
            "description": "Whether to infer facts from messages"
          }
        }
      },
      "AddMemoryResponse": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Event ID for polling async operation status"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddMemoryResult"
            }
          }
        }
      },
      "AddMemoryResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "memory": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "enum": ["ADD", "UPDATE", "DELETE", "NOOP"]
          }
        }
      },
      "GetMemoriesRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/Filters"
          },
          "page": {
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "default": 100
          }
        }
      },
      "GetMemoriesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemoryItem"
            }
          }
        }
      },
      "SearchMemoriesRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/Filters"
          },
          "top_k": {
            "type": "integer",
            "default": 10
          },
          "rerank": {
            "type": "boolean",
            "default": false
          },
          "threshold": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "SearchMemoriesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "memory": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "score": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "MemoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "memory": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateMemoryRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "Filters": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "AND": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterCondition"
            }
          },
          "OR": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterCondition"
            }
          }
        }
      },
      "FilterCondition": {
        "type": "object",
        "additionalProperties": true
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "memory_id": {
            "type": "string"
          },
          "old_memory": {
            "type": "string",
            "nullable": true
          },
          "new_memory": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "enum": ["ADD", "UPDATE", "DELETE"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "DeleteAllResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "deleted_count": {
            "type": "integer"
          }
        }
      },
      "EventStatus": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddMemoryResult"
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["user", "agent", "app", "run"]
          },
          "id": {
            "type": "string"
          },
          "memory_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
